* {
    margin: 0;
    padding: 0;
}
*:focus {
    outline: none;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-bottom: 4px solid rgb(146, 128, 247);
    box-shadow: 0 0px 6px 1px rgb(104, 104, 104);
    z-index: 2;
}
header h1 {
    margin-left: 60px;
    font-size: 20pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(121, 72, 255);
}
header nav {
    display: flex;
    margin-left: auto;
    height: 100%;
}
header nav a {
    height: 100%;
    display: flex;
    margin: auto;
    align-items: center;

    color: rgb(49, 49, 49);
    font-size: 13pt;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    padding: 0 10px;
    transition: color 0.3s, font-size 0.3s ease;
}
header nav a:hover {
    color: rgb(96, 99, 255);
    font-size: 14pt;}
header nav a:active {
    color: rgb(15, 18, 160);
    font-size: 14pt;}

#wblogo {
    position: relative;
    width: auto;
    height: 80%;
    left: 2%;
}

#search {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2%;
}

#search input {
    height: 38px;
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12.5pt;
    color: royalblue;
    border: 3px solid rgb(138, 95, 255);
    border-radius: 8px;
    padding: 0 14px;
    z-index: 2;
    transition: box-shadow 0.3s ease;
}
#search input:hover {
    box-shadow: 0 0 15px 2px rgb(107, 117, 255);}
#search input:active {
    box-shadow: 0 0 18px 4px rgb(107, 154, 255);
    border-color:rgb(82, 56, 255);}

#search button {
    width: 60px;
    height: 38px;
    margin-left: -12px;
    background-color: rgb(138, 95, 255);
    border: 3px solid rgb(138, 95, 255);
    border-radius: 8px;
    transition: all 0.2s ease;
}
#search button:hover {
    background-color: rgb(162, 148, 255);}
#search button:active {
    background-color:rgb(117, 95, 255);}

#search button svg {
    margin-top: 2px;
    margin-left: 5px;
    width: 47%;
    height: auto;
}

#wrapper {
    position: relative;
    top: 0;
    width: 100%;
    height: 13cm;
    background-image: url("https://images.ctfassets.net/wn7ipiv9ue5v/605oJBkFNmAojhMTFJj1zp/7c37aa10ef410d25c9ca9d84df69fbad/PDwebsite_KeyFeature_3072x976_KSP2-4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 5px solid rgb(146, 146, 250);
    z-index: 1;
}

.content {
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: rgb(250, 250, 250);
    z-index: -1;
    padding-bottom: 20px;
}

#quote {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 15px;
    padding: 25px 36px;
    top: 11cm;
    left: 22.5%;
    width: 47%;
    height: 50px;
    background-color: rgb(250, 250, 250);
    border: 4px solid rgb(146, 146, 250);
    border-radius: 12px;
    text-align: center;
    z-index: 1;
}
#quote h4 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    bottom: 10px;
    font-size: 14pt;
    color: rgb(120, 127, 226);
    width: 22px;
    height: 22px;
    border: 4px solid rgb(132, 139, 236);
    border-radius: 50%;
    cursor: pointer;
    
    transition: transform 0.3s, background-color 0.5s, color 0.5s ease;

    animation-name: arrow_move;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
}
#quote h4:hover {
    background-color: rgb(132, 139, 236);
    color: white;
}
#quote h4:active {
    transform: scale(60%);    
}

@keyframes arrow_move
{
    from {
        right: 13px;
    }
    50% {
        right: 5px;
    }
    to {
        right: 13px;
    }
}

#quote-text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15pt;
    color: rgb(62, 89, 207);
    width: fit-content;
}

#quote-author {
    position: absolute;
    right: 60px;
    bottom: 6px;
    color: rgb(28, 175, 40);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    font-weight: 700;
    width: fit-content;
}

#chapnav {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    margin-left: 0;
    margin-top: 10px;
    width: 17%;
    height: fit-content;
    background-color: rgba(245, 245, 245, 0.0);
    border: 0px solid rgb(109, 109, 255);
    border-left: none;
    border-top: none;
    padding: 20px 10px;

    font-size: 17px;
    list-style-type: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#chapnav a {
    padding: 10px 10px;
    margin: 3px 0;
    background-color: rgb(209, 221, 241);
    border-radius: 5px;
    transition: all 0.3s ease;
    height: 30px;
    color: rgb(114, 67, 243);
    text-decoration: none;
}
#chapnav a.plain {
    display: flex;
    align-items: center;
    justify-content: center;
}
.chim {
    position: relative;
    left: -55px;
    width: auto;
    height: 50px;
    border: 6px solid rgb(245, 245, 245);
    border-radius: 50%;
}

#chapnav a.plnt {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 30px;
    margin-left: 20px;
}

#chapnav a:hover {
    background-color: rgb(167, 175, 255);
    font-size: 18px;}
#chapnav a:active {
    background-color: rgb(147, 129, 255);}

#article {
    position: relative;
    margin: 15px 15px;
    height: fit-content;
    width: 53%;
    top: 60px;
    margin-bottom: 2cm;
    background-color: rgb(250, 250, 250);
    border: 0px solid rgb(196, 196, 196);
    box-shadow: 0 0 5px 2px rgb(212, 212, 212);
    border-radius: 5px;
    padding: 30px 40px;
    font-size: 13pt;
    font-family: Arial, sans-serif;
    text-indent: 40px;
    text-align: justify;
    line-height: 1.6;
    color: rgb(51, 49, 49);
    z-index: 1;
}
#article p {
    margin: 10px 0;
}

#article h3 {
    color: rgb(77, 77, 223);
    width: 100%;
    text-align: center;
    text-indent: 0;
    margin-bottom: 10px;
}

#article img {
    position: relative;
    margin: 15px 10px;
    margin-left: 30px;
    width: 46%;
    height: 86%;
    border-radius: 10px;
}
#article iframe {
    position: relative;
    left: 5%;
    margin: 15px 0;
    border-radius: 10px;
}
#article table {
    position: relative;
    width: 86%;
    left: 7%;
    margin: 20px 0;
    padding: 20px;
    background-color: rgb(195, 212, 243);
    border-radius: 7px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#article table caption{
    width: 100%;
    text-align: center;
    color: rgb(0, 155, 0);
    margin-bottom: 10px;
}

#dayfact {
    display: flex;
    flex-direction: column;
    margin: 35px 15px;
    width: 17%;
    height: fit-content;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(219, 219, 219);
    box-shadow: 0 0 6px 3px rgb(212, 212, 212);
    padding: 20px 20px;
    font-size: 13pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-indent: 30px;
    font-weight: 500;
    color: darkslategrey;
}

#dayfact img {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#dayfact h3 {
    font-size: 14pt;
    text-indent: 0;
    text-align: center;
    margin-bottom: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(95, 104, 235);
}

#dayfact b {
    color: rgb(255, 47, 127);
}

#readmore {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 36px;
    right: 10px;
    margin-top: 5px;
    margin-left: auto;
    border: 2px solid rgb(149, 149, 229);
    border-radius: 4px;
    background-color: rgb(245, 245, 245);
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    font-weight: 550;
    text-decoration: none;
}

#readmore h4 {
    width: 100%;
    text-indent: 0%;
    text-align: center;
    color: rgb(81, 94, 240);
    transition: color 0.4s ease-out;
    z-index: 1;
} 

#readmore div {
    position: absolute;
    margin: -1px;
    border: 1px solid rgb(149, 149, 229);
    left: 100%;
    top: 100%;
    width: 0%;
    height: 0%;
    background-color: rgb(149, 149, 229);
    transition: all 0.4s ease-out;
    visibility: hidden;
    z-index: 0;
}

#readmore:hover div {
    visibility: visible;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}
#readmore:hover h4 {
    color: white;
}
#readmore:active div{
    background-color: rgb(81, 81, 212);
}

#footer {
    position: relative;
    display: flex;
    width: 100%;
    height: 4cm;
    background-image: url("https://www.teahub.io/photos/full/194-1943056_wallpaper-stars-mountains-lake-5k-space-space-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 -3px 10px 5px rgb(163, 163, 163);
    text-align: center;
}

#footer p {
    position: relative;
    margin-top: 1.7cm;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14.5pt;
    color: azure;
    text-shadow: black;
}

#f1 {left: 6%;}
#f2 {left: 35%;}
#f3 {left: 67%;} 

#load_screen {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 3;

    transition: overflow 0.3s linear;

    transition: left 0.8s ease-out;
    animation: load_hide;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
@keyframes load_hide {
    from {
        background-color: rgba(0, 0, 0, 0.95);
        opacity: 1;
    }
    10% { 
        background-color: rgb(252, 252, 252, 0.9);
        top: 0;
        visibility: visible;
    }
    to {
        top: 100%;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.95);
    }
}

#load_screen > img {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgb(31, 30, 30);
    opacity: 0;

    animation: plnt_load;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes plnt_load {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    } 
}

#load_screen > #sun {
    width: 96px;
    height: 88px;
    border: none;
    border-radius: 0;
}
#load_screen > #sat {
    border: none;
    border-radius: 0;
    width: 104px;
    height: auto;
}
#load_screen > #mer {
    width: 40px;
    height: 40px;
}
#load_screen > #ven {
    width: 50px;
    height: 50px;
}
#load_screen > #ear {
    width: 55px;
    height: 55px;
}
#load_screen > #jup {
    width: 65px;
    height: 65px;
}

